/* /////////////// General Tags
/////////////////////////////////// */

@k-yellow: #fdc22d; // burnt yellow
@k-orange: #f05439; // orange
@k-red: #c30a3b; // red
@k-maroon: #8e113f; // maroon
@k-deep: #561a44; // deep purple
@k-deepshadow: #2c0b22; // deep purple

// font-family:  "Jost", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

// Chivo


:root {
    font-size: 62.5%; /* (62.5/100) * 16px = 10px */
    --font-size--small: 1.4rem; /* 14px */
    --font-size--default: 1.6rem; /* 16px */
    --font-size--large: 2.4rem; /* 24px */
  }
  
  .font-size--small {
    font-size: var(--font-size--small);
  }
  
  .font-size--default {
    font-size: var(--font-size--default);
  }
  
  .font-size--large {
    font-size: var(--font-size--large);
  }


a {
    color: @k-maroon;
}

a:hover {
    color: @k-orange;

}

body {
    font-family:  "Jost", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    margin: 0 0 1rem;
}

.Post-body {
    font-size: 2rem !important;
}

.Post:before, .Post:after {
    display: none;
}

h1,h2,h3, .Hero h2 {
    font-family: 'Chivo';
}

ul, li {
    list-style-type: none;
}

.fade-out {
    transition: opacity 1s;
}

.IndexPage-results .sideNavOffset {
   font-family: "Jost", Gill Sans, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 2rem;
}

.IndexPage-results {
    direction: ltr;
}

nav.IndexPage-nav {
    direction: ltr
    // background-color: #eee;
}



.container {
    //background-image: url(https://comm.site/blog/_junk/grid-5col-20-15-split.png);
    direction: ltr;
}

#ktoprow, #wpbrick, #featured {
    font-family:  "Jost", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
}


.gonzo {
    display: none !important;
}

.DiscussionPage-discussion div.container {
    // the content div of a disussion page.
    direction: ltr;
}

/* /////////////// KN Header Stuff
/////////////////////////////////// */

#ktoprow {
    background-color: @k-yellow;
    margin: 0;
    height: 50px;
    
}

#ktoprow menu {
    vertical-align: middle;
    color: black;
    height: 100%;
    margin: 0 auto;
}

#ktoprow span, #ktoprow a {
    vertical-align: middle;
    color: black;
    height: 100%;
    line-height: 50px;
}

#ktoprow span {
    // width: 60%;
    display: inline-block;
    width: 65%;
    animation: newsfade 0.5s;
    
}

#ktoprow a {
    margin: 0 10px;
    animation: newsfade 3.0s;
}

#ktoprow .Button--primary {
    font-weight: unset;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 4px 10px;
}

#wpbrick {
    height: 390px;
}

#ktopheader {
    min-height: 390px;
    background-image: url('https://comm.site/blog/_img/kine-pic01.jpg');
    background-size: cover;
    background-color: @k-yellow;
    background-position: 50% 30%;
}

#ktoprow.slim {
    height: 0px;
    transition-duration: .5s;
    transition-timing-function: ease;
}

#ktopheader.slim {
    min-height: 0px;
    height: 0px;
    transition-duration: .75s;
    transition-timing-function: ease;
}

#ktopheader.min {
    margin-bottom: -390px;
    transition-duration: .75s;
    transition-timing-function: ease;
}


#newslist {
    width: 38%;
    float: left;
    padding-left: 46px;
    margin-top: 108px;
    animation: newsfade 1.5s;
}

@keyframes newsfade {
    from {opacity:0;}
    to {opacity:1;}
}


h2.newstitle, h2.shotitle {
    font-weight: normal;
    text-transform: uppercase;

}
h2.newstitle {
    padding-left: 20px;
    color: @k-orange;
    margin-bottom: -10px;
    font-weight: lighter;
}

#newslistul, #newslist li {
    list-style-type: none;
    color: @k-red;
}

#newslist li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
}

#newslist li a {
    color: @k-orange;
}

#newslist li a:hover {
    color: @k-yellow;
    //background: linear-gradient(90deg,#ff8a00,#e52e71);
    border-bottom: 2px solid @k-orange;
    margin: -5px;
    padding: 5px;
    border-radius: 0;
    text-decoration: none;
    animation-direction: alternate;
    animation-name: slide;
    animation-duration: 1s; 
    transition-timing-function: ease-out;
    animation-fill-mode: forwards;
    background: #561a443d;
}

@keyframes slide {
    from {
        border-bottom-color: @k-orange;
        margin: -5px;
        padding: -5px;
    }
    to {
        border-bottom-color: @k-yellow;
        margin: -3px;
        padding: 3px;
    }
  }

ul.listholder {
    padding-left: 20px;
}


/*  //////////////////  Featured Showcase
///////////////////////////////////*/

#featured {
    width: 60%;
    float: left;
    // padding: 40px 40px 40px 0;
    padding: 0 8px 0 0;
    height: 390px;
    position: relative;
}

#featured.flex {
    display: flex;
    align-items: center;
    justify-content: center
}

.featured-item {
    padding: 0 6px 0 0;
}

.featurewrap {
    background-color: @k-maroon;
    color: @k-yellow;
    height: 220px;
    padding: 12px;
    position: relative;
    top: 116px;
    // border-radius: 0 0 0 32px;
    // border-radius: 0 0 0 18px;
    // box-shadow: 20px 23px 50px 5px #7a0e36 inset;
    animation: wipefade 1.5s ease-out;
}

.wipeleft {
    position: absolute;
    right: 8px;
    width: 0;
    animation-fill-mode: forwards;
}

@keyframes wipefade {
    from {opacity:0; width:0%;}
    to {opacity:1; width: 100%}
}


.colo {
    width: 100px;
    height: 344px;
    // position: absolute;
    float: right;
}

.colo:hover {
    box-shadow: none;
}

.finger1 {background-color: @k-yellow; box-shadow: none;}
.finger2 {background-color: @k-orange;}
.finger3 {background-color: @k-red;}
.finger4 {background-color: @k-maroon;}
.finger5 {background-color: @k-deep;}

.finger1 {
    animation: 
        fingerfade 0.5s ease-out,
}
.finger2 {
    animation: 
        fingerfade 0.75s ease-out,
        fingershade 1.5s ease .75s forwards;
    ;}
.finger3 {
    animation: 
        fingerfade 1.0s ease-out,
        fingershade 1.25s ease 1.25s forwards;
}
.finger4 {
    animation: 
        fingerfade 1.25s ease-out,
        fingershade 1.25s ease 1.5s forwards;
    }
.finger5 {
    animation: 
        fingerfade 1.5s ease-out,
        fingershade 1.5s ease 1.75s forwards;
}


@keyframes fingerfade {
    from {opacity:0; height:10px;}
    to {opacity:1; height: 344px}
}


h2.shotitle {
    color: black;
    margin: 0px;
    padding: 0px 8px;
    background-color: @k-yellow;
    font-weight: lighter;
    position: absolute;
    top: 12px;
    left: 12px;
}

.featurewrap .featuremeta {
    clear: both;
    width: 38%;
    position: absolute;
    font-size: .85em;
    margin-top: 1.5em;
    top: 50px;
    left: 12px;
    padding-left: 8px;
}

// .featurewrap .howtosubmit {
//     color: @k-red;
//     clear: both;
//     float: left;
//     position: absolute;
//     width: 30%;
//     bottom: 10px;
// }

.featurewrap .howtosubmit {
    color: #c30a3b;
    position: absolute;
    width: 19%;
    font-size: 1rem;
    top: 158px;
    left: 129px;
    padding: 2px 8px;
    font-size: 0.85em;
    }


#featembed {
    width: 360px;
    height: 270px;
    position: absolute;
    right: 30px;
    overflow: hidden;
    border-bottom: 4px solid transparent;
}

#featembed iframe {
    border: 0;
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 7% 0%;
}

#featured .kload {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    opacity: .6;
}

/*  //////////////////  Forum Header
///////////////////////////////////*/

#header {
    border-bottom: 5px solid @k-deep;
}

.Header-logo {
    max-height: 54px;
    position: relative;
    top: -12px;
}



.Header-logo {
    content:url( 'https://comm.site/blog/_img/kinecommunity-large.png')
}

header .container {
    background-image: none;
}

.SessionDropdown .Dropdown-toggle .Avatar {
    background-color: @k-red !important;
}


/* /////////////// Forum Stuff
/////////////////////////////////// */

.App-content {
    border-top: 0;
    background: white;
}

.IndexPage {
    // margin-top: 20px;
    border: 0;
}

.sideNavContainer {
    font-family: Jost, "Jost", Gill Sans, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

.Button {
   color: #838383;
   // background-color: #e7edf3; // flarum default
   background-color: #eeeeee;
}

.Button:hover {
    color: #111;
    background-color: #e7e7e7;
}

// this effects the signup and rename buttons, but hopefully not others!
.Form--centered .FormControl[type=text], .Form--centered .FormControl[type=email], .Form--centered .FormControl[type=password], .Form--centered .Button {
    padding: unset;
}


.IndexPage-toolbar {
    margin-bottom: 30px;
    }

.Dropdown--split:hover + button, .ButtonGroup .Dropdown--split:hover + button {
    background-color: #f05439;
}

.Dropdown--split .SplitDropdown-button {
    border-right-width: 0;
}

.Dropdown--split .Dropdown-toggle {
    border-left-width: 0;
    left: -1px;
}



.App-nav .AdminNav .Dropdown-menu>li>a, 
.App-nav .AdminNav .Dropdown-menu>li>a:hover, 
.App-nav .AdminNav .Dropdown-menu>li.active>a {
    color: #878787;
}

.App-nav .AdminNav .Dropdown-menu>li>a, 
.App-nav .AdminNav .Dropdown-menu>li>a:hover, 
.App-nav .AdminNav .Dropdown-menu>li.active>a {
    background: #f5ecdb;
    color: #878787;
}

.DashboardPage {
    background: #f5ecdb !important;
    color: #878787;
}

.kc-divider {
    position: absolute;
    left: 199px;
    top: 0px;
    opacity: .3;
    overflow: hidden;
}
.kc-divider img {
    position: relative;
    top: -50%;
}

@media (max-width: 960px){ 
    .kc-divider {
        display: none;
    }
}



.FormControl {
    color: @k-deep;
    background-color: #f5f5f5;
}

.DiscussionListItem-count::before, .unread .DiscussionListItem-count:before {
    // font-stretch: ultra-expanded !important;
    content: '\f27a';
    // content: url('/blog/_img/kc-comment-36.png');
}

.DiscussionListItem {
    padding-top: 8px;
    padding-bottom: 8px;
    // border-radius: 10px;

}

.DiscussionListItem:hover {
    background-color: #f3f6f9 !important;
    transition-duration: .4s;

}

@media (min-width: 768px){
    .IndexPage-toolbar-view .Dropdown-toggle {
        left: 78px;
    }

    .DiscussionListItem {
        background-image: url('/blog/_img/bottom-corner-ang.png');
        background-position: -20px 82px;
        background-repeat: no-repeat;

        // experimental
        height: 87px;
        // border-top: 1px solid rgb(247, 240, 240);
        // border-top: 1px solid #ddd;
    }

    .DiscussionListItem:hover {
        // background: initial !important;
        background-image: url('/blog/_img/bottom-corner-ang.png') !important;
        background-position: -10px 62px !important;
        background-repeat: no-repeat !important;
        border-radius: 10px;
        // border-top: 1px solid transparent;
        // border-bottom: 1px solid rgb(247, 240, 240);
    }

    li:hover + li .DiscussionListItem {
        // border-top: 1px solid transparent;
    }


    .DiscussionListItem-author {
        margin-left: -60px;
    }

    .DiscussionListItem-content {
        padding-left: 80px;
        padding-right: 90px;
    }

    .IndexPage .DiscussionListItem-info>.item-tags, .UserPage .DiscussionListItem-info>.item-tags {
        right: 170px;
        font-size: 1.3rem;
        top: 20px;
    }

    .IndexPage-results .DiscussionListItem-count, .UserPage .DiscussionListItem-count {
        margin: unset;
        color: #777;
        // color: #ddd;

        font-weight: 900;
        font-family: Chivo;
        font-size: 4rem;
        background-image: url('/blog/_img/edgefade-40.png');
        background-position: left center;
        background-size: 2px 40px;
        background-repeat: no-repeat;

        position: absolute;
        width: initial;
        padding-left: 2rem;
        top: 2px;

    }

    .IndexPage-results .DiscussionListItem-count::before, .UserPage .DiscussionListItem-count::before {
        position: relative;
        font-size: 1.5rem;
        float: right;
        left: 20px;
        top: 12px;
        
    }


    .DiscussionListItem-controls {
        width: 42px;
        height: 42px;
        margin-top: auto;
        margin-bottom: auto;
        background-color: white;
        right: 0 !important;
        top: 20px;
        border-radius: 8px 0 0 20px;
    }

    // discussion idems in the floading panel


    .DiscussionPage-list .DiscussionListItem {
        padding: 6px 0 0 0;
        background-image: none !important;
    }

    .DiscussionPage-list .DiscussionListItem-title {
        margin-bottom: .75rem;
    }


}

.DiscussionPage-list .Dropdown-toggle.Button.Button--icon, .DiscussionPage-list .DiscussionListItem-controls {
    display: none;
}

.DiscussionPage-list .DiscussionListItem.active, .DiscussionPage-list .DiscussionListItem.active:hover {
    background-image: none !important;
}



@media (max-width: 767px){ 
    .DiscussionListItem {
        border-radius: 0;
        height: initial;
    }

    .DiscussionList .DiscussionListItem-count:before {
        font-family: 'Font Awesome 5 Free';
        font-family: 'Font Awesome 5 Free';
        position: relative;
        top: 1px;
        margin-right: 4px;
    }

}


.DiscussionListItem-content:hover .DiscussionListItem-title  {
    text-decoration: underline;
}

.DiscussionList:not(.DiscussionList--searchResults) .read .DiscussionListItem-title {
    color: #222;
}

.DiscussionListItem-title {
    font-size: 2rem;
    font-family: 'Chivo', sans-serif;
    font-weight: lighter;
    transition-property: font-size;

    position: absolute;
}


.DiscussionListItem-info {
    font-size: 1.2rem;
    margin-top: 30px;
}

.DiscussionListItem .username, .item-terminalPost .fas {
    color: #999;
}

.DiscussionListItem .Dropdown-toggle.Button.Button--icon {
    background-color: #f3f6f9;
}

@media (max-width: 767px){ 

    .DiscussionListItem-content:hover .DiscussionListItem-title  {
        
    }

    .DiscussionListItem-title, .DiscussionListItem-info {
        position: relative;
    }

    .DiscussionListItem-info {
        margin-top: unset;
    }
}


@media (min-width: 768px){

        .IndexPage-results .DiscussionListItem:hover .DiscussionListItem-title {
            font-size: 2.05rem;
            // transition: 2s ease;
        }

        .IndexPage-results .DiscussionListItem .Dropdown-toggle.Button.Button--icon, .UserPage .DiscussionListItem .Dropdown-toggle.Button.Button--icon {
            top: 3px;
            left: 5px;
            background-color: #f3f6f9;
        }

        .IndexPage-results .DiscussionListItem .Dropdown-toggle.Button.Button--icon:hover, .UserPage .DiscussionListItem .Dropdown-toggle.Button.Button--icon:hover {
            top: 3px;
            left: 5px;
            background-color: #eaedf0;
        }

        .DiscussionListItem .TagsLabel {
            padding: 0px;
            border-radius: 8px;
        }

        .DiscussionListItem .TagLabel {
            background: initial;
            padding: 0px 8px;
            border: 1px solid #ddd;
            background-color: transparent !important;
            background-color: #f3f6f9 !important;
        }

        .DiscussionListItem .TagsLabel .TagLabel:first-child:last-child,
        .DiscussionListItem .TagsLabel .TagLabel:first-child,
        .DiscussionListItem .TagsLabel .TagLabel:last-child {
            border-radius: 8px;
        }

        .DiscussionList .DiscussionListItem .TagLabel-text {
            font-size: 1.2rem;
            color: #999 !important;
            text-transform: uppercase;
            letter-spacing: 2px;
            

        }

        .DiscussionListItem .TagLabel-text .icon {
            height: 100%;
            padding: 6px 5px 6px 7px;
            border-radius: 6px 0 0 6px;
            position: relative;
            left: -8px;
            margin-right: -8px;
        }
        .DiscussionListItem:hover .TagLabel-text .icon {
            transition-duration: .5s;
            background: @k-orange;
            // background: @k-deep;
            opacity: .8;
            color: white !important;
        }

        .DiscussionListItem:hover .TagLabel {
            border: 1px solid #ccc;
            background-color: unset !important;
            background-color: #ddd !important;
            background-color: #fff !important;

        }

        .DiscussionList .DiscussionListItem:hover .TagLabel-text {
            // color: white !important;
            color: #333 !important;
            // color: @k-maroon !important;
        }


    }


    .DiscussionPage-list .DiscussionListItem-count, .DiscussionList .DiscussionListItem-count {
        font-family: 'Chivo', sans-serif;
        font-weight: bolder;;
    }



// styles for side

@media (min-width: 768px){

    .item-topQuotes {
        position: absolute;
        left: 326px
    }

    .DiscussionPage-list .DiscussionList .DiscussionListItem .TagLabel-text {
        font-size: .75rem;
    }

    .DiscussionPage-list .DiscussionListItem .TagLabel {
        border-width: 1px;
        padding: 0 8px 8 4px;
    }


    .DiscussionPage-list .DiscussionListItem-count {
        font-weight: bolder;
        margin-right: -80px;
    }

    .DiscussionListItem:hover .DiscussionListItem-count {
        color: #333;
        opacity: 1;
    }

    .DiscussionListItem .read .DiscussionListItem-count {
        opacity: .45;
    }

    .DiscussionListItem:hover .read .DiscussionListItem-count {
        opacity: .75;
    }

}

.DiscussionList-loadMore {
    text-align: unset;
}
.DiscussionList-loadMore .Button {
    position: relative;
    left: 55%;
}

.sideNav, .sideNav>ul {
width: 198px;
}

.Button--primary {
    background: @k-red;
    color: white;
    font-size: 1.6rem;
    // letter-spacing: .1rem;
}




@media (min-width: 768px){
    .Button--primary {
        border: 6px solid whitesmoke;
        border-radius: 12px;
    }

    .Button--primary:hover {
        background: @k-orange;
        color: white;
        border-color: rgb(230, 230, 230);
    }
}

.DiscussionListItem-controls {
   right: 10px; 
}

.Button:active, .Button.active, .open>.Dropdown-toggle.Button {
    background-color: #bebebe;
}
.Dropdown-menu>li>a:hover, .Dropdown-menu>li>button:hover {
    background: #ddd;
    
}


.sideNav .Dropdown--select .Dropdown-menu>li.active>a {
    background: none;
    color: @k-maroon;
    font-weight: bold;
}



/* **************** fixes from that dude
***************************************** */

@media (max-width: 767px) {
    .Post-body img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    }
    
    @media (max-width: 767px) {
    .Post-body img.emoji {
        display: inline;
    }
}

video {
    width: 100%;
    height: auto;
    }

@media (max-width: 767px) {
        .Composer {
        bottom: 0 !important;
    }
 }

 // RR fixes for midsize

 @media (max-width: 767px) {
    #header {
        border-bottom: 0;
    }
    .Header-logo {
        content:url( 'https://comm.site/blog/_img/kc-mini-header.png');
        // width: 40px;
        // height: auto;
        text-align: left;
        margin-top: 12px;
    }
}


/* /////////////// Bits and Bobs
///////////////////////////////////// */


 Modal-body {
    background-color: #f6f4e4;
    padding: 25px 30px;
    color: #996679;
}

/* /////////////// Footer
/////////////////////////////////// */

#app + footer {
    min-height: 500px;
    padding: 0 0 0 0;

    background: #8f8fa3;
    border-top: 30px solid #c1b8d1;
    box-shadow: inset 0 2px 90px @k-deepshadow;
}

#morevideos {
    height: 500px;
    // overflow-y: hidden;
    // padding-top: 30px;
    background: url('https://comm.site/blog/_img/bars.png') 100px -256px no-repeat !important;
    background-size: 272px !important; 
    position: relative;
}

body {
    // EXPERIMENTAL
    // background: #8f8fa3;
    // box-shadow: inset 0 2px 90px @k-deepshadow;
    direction: ltr;
}
    
#socialrow {
    height: 240px;
    background: @k-deep;
    background: @k-deepshadow;
}

#footlinks {
    height: 180px;
    background: @k-maroon;
    box-shadow: inset 0 2px 90px @k-deepshadow;
}

/* /////////////// Footer Mas
/////////////////////////////////// */

 

/* /////////////// For Plugins
/////////////////////////////////// */

.fancybox-bg {
   background: rgba(72, 71, 88, 0.9) !important;
}

/* /////////////// Fun Stuff
/////////////////////////////////// */



/* /////////////// Absolute Bottom
/////////////////////////////////// */